In [23]:
import pandas as pd
import datetime
import os
import boto3

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

import sagemaker
from sagemaker import get_execution_role
import sagemaker_pyspark
from datetime import datetime, timedelta
from pyspark.sql.functions import to_date,date_format,col,from_unixtime,unix_timestamp

In [2]:
role = get_execution_role()
jars = sagemaker_pyspark.classpath_jars()

classpath = ":".join(sagemaker_pyspark.classpath_jars())
spark = (
    SparkSession.builder.config("spark.driver.extraClassPath", classpath)
    .master("local[*]")
    .getOrCreate()
)

spark

In [30]:
from pyspark.sql.functions import lit

region = boto3.Session().region_name
endpoint_domain = "com"
spark._jsc.hadoopConfiguration().set(
    "fs.s3a.endpoint", "s3.{}.amazonaws.{}".format(region, endpoint_domain)
)

first_date = "2022-01-01"

start_date = datetime.strptime('2022-01-02', '%Y-%m-%d') 
end_date = datetime.utcnow()

delta = end_date - start_date

day = ""
df = (
        spark.read.format("json")
        .option("numFeatures", "784")
        .load(f"s3a://openaq-fetches/realtime-gzipped/{first_date}".format(region))
    )
df = df.withColumn("u_date",lit(first_date)).withColumn("lat",col("coordinates.latitude")).withColumn("long",col("coordinates.longitude"))

for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    day = day.strftime("%Y-%m-%d")

    temp_df = (
        spark.read.format("json")
        .option("numFeatures", "784")
        .load(f"s3a://openaq-fetches/realtime-gzipped/{day}".format(region))
    )
    temp_df = temp_df.withColumn("u_date",lit(day)).withColumn("lat",col("coordinates.latitude")).withColumn("long",col("coordinates.longitude"))

    diff1 = [c for c in temp_df.columns if c not in df.columns]
    diff2 = [c for c in df.columns if c not in temp_df.columns]
    df = df.select('*', *[lit(None).alias(c) for c in diff1]) \
    .unionByName(temp_df.select('*', *[lit(None).alias(c) for c in diff2]))


df.show()

In [31]:
df1 = df.filter(df.country == "US")
df1 = df1.select(['city','country','lat','long','u_date','location','parameter','unit','value'])
df1.show()

+-----------------+-------+---------+-----------+----------+--------------------+---------+-----+-----+
|             city|country|      lat|       long|    u_date|            location|parameter| unit|value|
+-----------------+-------+---------+-----------+----------+--------------------+---------+-----+-----+
|Birmingham-Hoover|     US|  33.5531|    -86.815|2022-01-01|            NO. BHAM|       o3|  ppm|0.021|
|Birmingham-Hoover|     US|  33.5531|    -86.815|2022-01-01|            NO. BHAM|     pm10|µg/m³| 16.0|
|Birmingham-Hoover|     US|  33.5531|    -86.815|2022-01-01|            NO. BHAM|     pm25|µg/m³|  8.0|
|Birmingham-Hoover|     US|  33.3311|   -87.0036|2022-01-01|             MCADORY|     pm25|µg/m³|  7.4|
|Birmingham-Hoover|     US|  33.4997|   -86.9242|2022-01-01|               WYLAM|     pm10|µg/m³| 17.0|
|Birmingham-Hoover|     US|  33.4997|   -86.9242|2022-01-01|               WYLAM|     pm25|µg/m³|  8.6|
|Birmingham-Hoover|     US|  33.8017|   -86.9425|2022-01-01|              CORNER|     pm25|µg/m³|  6.5|
|Birmingham-Hoover|     US|33.565278| -86.796389|2022-01-01|       Shuttlesworth|     pm10|µg/m³| 15.0|
|Birmingham-Hoover|     US|33.565278| -86.796389|2022-01-01|       Shuttlesworth|     pm25|µg/m³|  9.4|
|       Huntsville|     US|  34.6917| -86.591698|2022-01-01|Huntsville Old Airpo|     pm25|µg/m³|  7.9|
|       Montgomery|     US|32.412811| -86.263394|2022-01-01|               MONTG|     pm25|µg/m³| 11.7|
|          Decatur|     US|  34.5286|   -86.9706|2022-01-01|             DECATUR|     pm25|µg/m³|  7.7|
|           SUMTER|     US| 32.36253|  -88.27792|2022-01-01|                Ward|     pm25|µg/m³|  2.6|
|        Anchorage|     US|61.205861|  -149.8246|2022-01-01|              Garden|     pm10|µg/m³|  2.0|
|        Anchorage|     US|61.205861|  -149.8246|2022-01-01|              Garden|     pm25|µg/m³|  6.0|
|        Anchorage|     US|  61.3267|-149.569707|2022-01-01|Parkgate (Eagle Rive|     pm10|µg/m³|  7.0|
|    YUKON-KOYUKUK|     US|63.723301|-148.967499|2022-01-01|          Denali NPP|       o3|  ppm|0.036|
|        Fairbanks|     US|  64.8458| -147.72727|2022-01-01|               NCore|       co|  ppm| 0.16|
|        Fairbanks|     US|  64.8458| -147.72727|2022-01-01|               NCore|       o3|  ppm| 0.03|
|        Fairbanks|     US|  64.8458| -147.72727|2022-01-01|               NCore|     pm25|µg/m³|  6.0|
+-----------------+-------+---------+-----------+----------+--------------------+---------+-----+-----+
only showing top 20 rows

In [32]:
df2 = df1.withColumn("month",from_unixtime(unix_timestamp(col("u_date"),'yyyy-MM-DD'),'MMM'))
df3 = df2.groupBy(["city","month"]).agg({'value':'avg'})
df3.count()

1230

In [ ]:
df3.coalesce(1).write.format("com.databricks.spark.csv").option("header", "true").save("s3a://openaq-analytics/2022/")